<h1>Listing uniprots</h1>

<table>
  <tr>
    <th>Uniprot ac</th>
    <th>Protein</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @uniprots.each do |uniprot| %>
  <tr>
    <td><%= uniprot.uniprot_ac %></td>
    <td><%= uniprot.protein_id %></td>
    <td><%= link_to 'Show', uniprot %></td>
    <td><%= link_to 'Edit', edit_uniprot_path(uniprot) %></td>
    <td><%= link_to 'Destroy', uniprot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Uniprot', new_uniprot_path %>
